*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-image: url(./pattern-background-desktop.svg);
    background-repeat: no-repeat;
    padding: 80px 0 0 0;
    margin: 0px 0px 0px 0px;
    
    
}
body{
    background-color:hsl(240, 8%, 93%);
    border: 1px solid black;
    height: 100vh;
    
}
.box{
    border: 1px solid transparent;
    height: 70vh;
    margin-right: 35em;
    margin-left: 30em;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-top: 70px;
    background-color: white;
       
}
.imagehero{
    width: 100%;
}
.subcription1{
    display: flex; 
    align-items:flex-start;
    
}
.subcriptions{
    border: 1px solid transparent;
    margin: 20px 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 5px; 
    background-color: hsl(240, 8%, 93%);;
}
.order{
    text-align: center;
    margin:30px 0px 15px 0px;
}
.text{
    line-height: 1.2;
    text-align: center;
    margin:10px 25px 10px 25px;
    
}
.buttonclass{
    height: 40px;
    width: 29em;
    margin: 30px 30px 0 30px;
    background-color:hsl(245, 75%, 52%);
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.buttonclass:hover{
    color: black;
    transform: scale(1.1);
}
.cancel{
    text-align: center;
    margin:30px 0px 0 0;
    color: rgb(163, 161, 161);
}

